@charset "utf-8";
/* CSS Document */

.paper {
	background:#FFF;
	width: 600px;
	height:400px;
	padding:5px;
	margin-top:20px;
	margin-left:40px;
	position:relative;
	float:left;
	overflow-x:hidden;
	overflow-y:scroll;
	border:#408080 dotted;
}


